/* image fading property */
.parallax {
    position: absolute;
    top: 0;
    right: 0;
    /* The image used */
    background-image: url('../jatin2003.github.io/img/portfoliobg.jpg');
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 115vh;
    width: 100vw;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* blur the edges */
    /* box-shadow: 0 0 8px 8px white inset; */
    opacity: 0.8;
    /* filter: brightness(50%); */
  }
