
html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: white;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 16px;
}

main {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	-moz-transform: translateY(-40%);
	-o-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
}

.background {
	background-size: cover;
	height: 99%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

/* HEADER */
main header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: gray;
}

main header > h1 {
	color: #464646;
	font-weight: 800;
	font-size: 4em;
	letter-spacing: 4px;
	margin: 0px;
	text-transform: uppercase;
	opacity: 0;
}

main header > h1 > span {
	color:#ff3333;
}

main .menu {
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 0 0 6px;
}

main .menu li {
	border-left: 1px solid #999;
	display: inline-block;
	letter-spacing: 6px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 10px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

main .menu li a,
main .menu li a:active,
main .menu li:visited {
	color: #777;
	cursor: pointer;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out;
}

main .menu li:hover > a {
	color: #ff3333;
}

main .menu li:first-child {
	border: 0;
}

main .menu li:hover:after {
	width: 90%;
}

main .menu li:after {
	background: #ff3333;
	bottom: -8px;
	content: "";
	display: block;
	height: 2px;
	margin: auto;
	position: relative;
	left: -1px;
	width: 0;
	transition: width 0.5s ease-in-out;
	-webkit-transition: width 0.5s ease-in-out;
}

main .icon-list {
	list-style: none;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	text-align: center;
	padding: 0px;
	width: 350px;
}

main .icon-list > li {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 28px;
	margin-bottom: 0.5em;
	margin-right: 0.2em;
	overflow: hidden;
	opacity: 0;
	padding: 4px;
	position: relative;
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	width: 28px;
}

main .icon-list > li a {
	color: inherit;
	line-height: 28px;
}

main .icon-list > li:hover > a {
	color: white;
}

main .icon-list > li.twitter {
	border-color: #1da1f2;
	color: #1da1f2;
}

main .icon-list > li.twitter:hover {
	background: #1da1f2;
}

main .icon-list > li.linkedin {
	border-color: #0976b4;
	color: #0976b4;
}

main .icon-list > li.linkedin:hover {
	background: #0976b4;
}

.icon-list > li.quora {
	border-color: #a62100;
	color: #a62100;
}

main .icon-list > li.quora:hover {
	background: #a62100;
}

main .icon-list > li.facebook {
	border-color: #3b5998;
	color: #3b5998;
}

main .icon-list > li.facebook:hover {
	background: #3b5998;
}

main .icon-list > li.instagram {
	border-color: #8a3ab9;
	color: #8a3ab9;
}

main .icon-list > li.instagram:hover {
	background: #e95950;
}

main .icon-list > li.github {
	border-color: #333;
	color: #333;
}

main .icon-list > li.github:hover {
	background: #767676;
}

main .icon-list > li.medium {
	border-color: #66CD00;
	color: rgb(0, 0, 0);
}

main .icon-list > li.medium:hover {
	background: #66CD00;
}

main .icon-list > li.youtube {
	border-color: #c4302b;
	color: #c4302b;
}

main .icon-list > li.youtube:hover {
	background: #c4302b;
}

main .icon-list > li.email {
	border-color: #777;
	color: #777;
}

main .icon-list > li.email:hover {
	background: #777;
}

main .icon-list > li.stack {
	border-color: #FF9900;
	color: #FF9900
;
}

main .icon-list > li.stack:hover {
	background: #FF9900
;
}

main .icon-list li > a,
main .icon-list li > a: visited,
main .icon-list li > a: active
{
	color: white;
}

main .icon-list li:hover {
	opacity: 1;
}

main footer {
	color: #999;
	font-size: 0.75em;
	margin-top: 10px;
	opacity: 0;
	text-align: center;
}

main footer .heart {
	color: #f95959;
}
