a {
  font-size: 20px;
  display: block;
  text-align: center;
  border: 3px solid;
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
  max-width: 300px;
}

.links {
  margin-top: 40px;
}

@media screen and (max-width: 350px) {
  a {
    width: 75%;
    font-size: 15px;
    margin: 10px auto;
    padding: 7px;
  }

  header {
    margin: 0 auto;
  }

  .rainbow-letters {
    margin-bottom: 20px;
  }

  .links {
    margin-top: 20px;
  }
}